# Normalizes the growth data and then fits $e^{bx+d}$

First, this no normalizes the growth data based on the first measurement. I.e., for each mouse, divide each measurement by the first measurement. This results in the first measurement being equal to 1. I further multiply these by 100. This allows us, when running later simulations, to initialize our population size to be equal to 100. I allow for the option of saving this file out to the file name set below. The code assumes that the folders in which data and results are to be saved already exist.

Second, I fit the equation $e^{bx+d}$ to the data. $b$ represents the growth rate and $d$ represents the scaled shift. $d/b$ gives the shift in terms of days, so any following analysis will use $d/b$ rather than $d$ directly.

In [1]:
import numpy as np
from scipy.optimize import curve_fit
from sklearn.metrics import r2_score
import pandas as pd
import argparse
import json

In [2]:
# Files
growth_data_file = "../../data/growth_data_df.csv"
save_scaled = True
save_scaled_file = "../../data/growth_data_scaled.csv"
fit_save_file = "../../results/growth_fit_results_scaled/exp_growth.csv"

# Parameters
params = {
    "init_b": .1,
    "init_d": .1,
    "bounds_b": [0, np.inf],
    "bounds_d": [-np.inf, np.inf]
}

In [3]:
growth_data = pd.read_csv(growth_data_file)
growth_data

                       group   id  day        size
0       Grp. A1 B6 (100% C1)  424    7   25.725600
1       Grp. A1 B6 (100% C1)  424   10   36.392700
2       Grp. A1 B6 (100% C1)  424   14   46.803512
3       Grp. A1 B6 (100% C1)  424   17   98.260390
4       Grp. A1 B6 (100% C1)  424   21  112.673203
..                       ...  ...  ...         ...
732  Grp. B5 nude (100% C11)  483   14   46.261412
733  Grp. B5 nude (100% C11)  483   17   70.397887
734  Grp. B5 nude (100% C11)  483   21  111.582900
735  Grp. B5 nude (100% C11)  483   24  256.730952
736  Grp. B5 nude (100% C11)  483   28  459.882538

[737 rows x 4 columns]

In [4]:
# Scale growth data
scaled_growth_data = growth_data
for mouse_id in scaled_growth_data["id"].unique():
    curr_data = scaled_growth_data.loc[scaled_growth_data["id"] == mouse_id].reset_index()
    scaled_size = curr_data["size"].to_numpy() / curr_data.loc[0, "size"]
    scaled_growth_data.loc[scaled_growth_data["id"] == mouse_id, "size"] = scaled_size
scaled_growth_data

                       group   id  day       size
0       Grp. A1 B6 (100% C1)  424    7   1.000000
1       Grp. A1 B6 (100% C1)  424   10   1.414649
2       Grp. A1 B6 (100% C1)  424   14   1.819336
3       Grp. A1 B6 (100% C1)  424   17   3.819557
4       Grp. A1 B6 (100% C1)  424   21   4.379809
..                       ...  ...  ...        ...
732  Grp. B5 nude (100% C11)  483   14   2.365734
733  Grp. B5 nude (100% C11)  483   17   3.600034
734  Grp. B5 nude (100% C11)  483   21   5.706169
735  Grp. B5 nude (100% C11)  483   24  13.128805
736  Grp. B5 nude (100% C11)  483   28  23.517649

[737 rows x 4 columns]

In [20]:
if save_scaled:
    print("Saving scaled data to", save_scaled_file)
    scaled_growth_data.to_csv(save_scaled_file, index=False) # Save results

../../data/growth_data_scaled_params.json
Saving scaled data to ../../data/growth_data_scaled.csv

In [6]:
# Exponential function to fit the data to
def exp_funct(data, b, d):
    return np.exp(b*data + d)

In [7]:
results = []
for mouse_id in scaled_growth_data["id"].unique():
    curr_data = scaled_growth_data[scaled_growth_data["id"] == mouse_id]
    curr_data = curr_data.sort_values("day").reset_index()
    x_data = curr_data["day"]
    y_data = curr_data["size"]

    popt, pcov = curve_fit(exp_funct, x_data, y_data, 
                    p0=(params["init_b"], params["init_d"]), 
                    bounds=([params["bounds_b"][0], params["bounds_d"][0]], 
                            [params["bounds_b"][1], params["bounds_d"][1]]))

    opt_line = [exp_funct(x, popt[0], popt[1]) for x in x_data]

    # print(x_data)
    r = r2_score(y_data, opt_line)
    results.append([curr_data.loc[0,"group"], curr_data.loc[0,"id"]] + list(popt) + [r] + [x_data.tolist()[-1]])

cols = ["group", "id", "b", "d", "rscore", "last_day"]
df = pd.DataFrame(results, columns=cols)
df = df[df["id"] != "438"] # Exclude the weird one
df

,group,id,b,d,rscore,last_day
0,Grp. A1 B6 (100% C1),424,0.065348,-0.585788,0.904443,52
1,Grp. A1 B6 (100% C1),425,0.053068,-0.750638,0.992446,87
2,Grp. A1 B6 (100% C1),426,0.045450,0.242624,0.964727,49
3,Grp. A1 B6 (100% C1),427,0.055895,-0.611857,0.987059,70
4,Grp. A1 B6 (100% C1),428,0.031910,-1.300194,0.630344,105
5,Grp. A1 B6 (100% C1),429,0.046476,0.159339,0.892269,38
6,Grp. A2 B6 (80% C1; 20% C11),430,0.051135,-0.058465,0.975637,45
7,Grp. A2 B6 (80% C1; 20% C11),431,0.083802,-2.677513,0.969811,77
8,Grp. A2 B6 (80% C1; 20% C11),432,0.087246,-5.300776,0.970396,105
9,Grp. A2 B6 (80% C1; 20% C11),433,0.037504,-0.116996,0.977266,101
10,Grp. A2 B6 (80% C1; 20% C11),434,0.046941,-0.044709,0.911087,49
11,Grp. A2 B6 (80% C1; 20% C11),435,0.060156,-0.412585,0.948032,52
12,Grp. A3 B6 (50% C1; 50% C11),436,0.143616,-7.075713,0.996220,77
13,Grp. A3 B6 (50% C1; 50% C11),437,0.046194,-0.702391,0.827620,59
14,Grp. A3 B6 (50% C1; 50% C11),438,0.177666,-18.224133,-0.506617,105
15,Grp. A3 B6 (50% C1; 50% C11),439,0.075555,-3.520782,0.912935,84
16,Grp. A3 B6 (50% C1; 50% C11),440,0.144824,-6.223417,0.963475,63
17,Grp. A3 B6 (50% C1; 50% C11),441,0.179114,-13.997576,0.977722,98
18,Grp. A4 B6 (20% C1; 80% C11),442,0.074885,-1.045318,0.932472,45
19,Grp. A4 B6 (20% C1; 80% C11),443,0.056302,-1.464769,0.761475,56
20,Grp. A4 B6 (20% C1; 80% C11),444,0.192153,-8.645006,0.979323,66
21,Grp. A4 B6 (20% C1; 80% C11),445,0.108673,-3.867779,0.987349,70
22,Grp. A4 B6 (20% C1; 80% C11),446,0.107289,-3.061183,0.949883,56
23,Grp. A4 B6 (20% C1; 80% C11),447,0.092144,-2.333118,0.979274,66
24,Grp. A5 B6 (100% C11),448,0.144424,-2.060939,0.998385,42
25,Grp. A5 B6 (100% C11),449,0.132265,-1.540519,0.989875,42
26,Grp. A5 B6 (100% C11),450,0.125867,-0.878282,0.978789,31
27,Grp. A5 B6 (100% C11),451,0.111417,-0.864078,0.951982,28
28,Grp. A5 B6 (100% C11),452,0.125756,-2.741543,0.985285,52
29,Grp. A5 B6 (100% C11),453,0.127967,-1.783463,0.995933,42
30,Grp. B1 nude (100% C1),454,0.154994,-0.833995,0.997924,31
31,Grp. B1 nude (100% C1),455,0.159560,-0.378208,0.991869,28
32,Grp. B1 nude (100% C1),456,0.134155,-0.005466,0.980021,24
33,Grp. B1 nude (100% C1),457,0.167732,-0.436333,0.997694,28
34,Grp. B1 nude (100% C1),458,0.189559,-0.764307,0.986300,17
35,Grp. B1 nude (100% C1),459,0.123306,0.213054,0.986680,31
36,Grp. B2 nude (80% C1; 20% C11),460,0.110745,0.186129,0.969364,31
37,Grp. B2 nude (80% C1; 20% C11),461,0.200392,-1.469088,0.994355,24
38,Grp. B2 nude (80% C1; 20% C11),462,0.160964,-0.238410,0.998483,28
39,Grp. B2 nude (80% C1; 20% C11),463,0.147060,-0.479147,0.999126,31
40,Grp. B2 nude (80% C1; 20% C11),464,0.182105,-1.088393,0.994845,17
41,Grp. B2 nude (80% C1; 20% C11),465,0.179092,-0.772953,0.996513,28
42,Grp. B3 nude (50% C1; 50% C11),466,0.138217,-0.467928,0.992086,31
43,Grp. B3 nude (50% C1; 50% C11),467,0.139818,0.057491,0.992806,31
44,Grp. B3 nude (50% C1; 50% C11),468,0.153875,-0.476322,0.997454,31
45,Grp. B3 nude (50% C1; 50% C11),469,0.119161,0.082543,0.991303,31
46,Grp. B3 nude (50% C1; 50% C11),470,0.176535,-0.817224,0.998189,28
47,Grp. B3 nude (50% C1; 50% C11),471,0.164474,-0.607813,0.936399,17
48,Grp. B4 nude (20% C1; 80% C11),472,0.151347,-0.657862,0.995965,31
49,Grp. B4 nude (20% C1; 80% C11),473,0.142213,-0.356895,0.996828,31
50,Grp. B4 nude (20% C1; 80% C11),474,0.151683,-0.662599,0.992394,21
51,Grp. B4 nude (20% C1; 80% C11),475,0.131524,-0.414986,0.990921,31
52,Grp. B4 nude (20% C1; 80% C11),476,0.155680,-0.732602,0.997443,28
53,Grp. B4 nude (20% C1; 80% C11),477,0.120168,-0.138246,0.993879,31
54,Grp. B5 nude (100% C11),478,0.153675,-0.842648,0.999072,24
55,Grp. B5 nude (100% C11),479,0.102736,-0.027795,0.993873,38
56,Grp. B5 nude (100% C11),480,0.119908,-0.223281,0.998397,38
57,Grp. B5 nude (100% C11),481,0.128392,-0.551372,0.996350,35
58,Grp. B5 nude (100% C11),482,0.103637,-0.052723,0.993053,38
59,Grp. B5 nude (100% C11),483,0.170544,-1.609891,0.990410,28

In [24]:
print("Saving fit results to", fit_save_file)
df.to_csv(fit_save_file, index=False) # Save results
with open(fit_save_file[:-4]+"_params.json", "w") as f: # Save parameters
    f.write(json.dumps(params, indent=4))

Saving fit results to ../../results/growth_fit_results_scaled/exp_growth.csv